<div class="container">
  <h1 class="text-center mt-4 mb-4">Listado de ofertas</h1>
  <table class="table table-bordered table-hover table-striped">
    <thead class="bg-primary text-white">
      <th>Título</th>
      <th>Detalle</th>
      <th>% Descuento</th>
      <th>Fecha de caducidad</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of ofertas; let i = index;">
        <td>{{oferta.titulo}}</td>
        <td>{{oferta.detalle}}</td>
        <td>{{oferta.descuento}} %</td>
        <td>{{oferta.fechaCaducidad}}</td>
        <td class="text-center"><button class="btn btn-info mr-2" (click)="modificar(oferta.id)">Editar</button>
          <button class="btn btn-danger" (click)="eliminar(oferta.id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
